.header-content-container {
  display: flex;
  padding-top: 1.813rem;  //29px
  // padding-right: 0.750rem;  //12px
  padding-bottom: 1.688rem;  //27px
  // padding-left: 0.625rem;  // 10px
}

.header__logo {
    // width: 2.688rem;  // 43px
    display: inline-block;
    width: 2.688rem;  // 43px
    height: 2.563rem;  //41px
    margin-right: 0.938rem;   //15px
    margin-top: 0.313rem;
}

.header__btn {
    width: 9.375rem; // 150px
    height: 3rem; //48px
    margin-right: 3.313rem;  //53px
}

.header__text {
    font-family: $font-family--main;
    font-size: 1.5rem;   // 24px
    text-transform: uppercase;
    color: $color--logo;
    margin-right: 2.813rem;  //45px
    padding-top: 0.750rem;  //12px

    // &--purple {
    //     color: $btn-color;
    // }
}

.header__text--purple {
    color: $btn-color;
}

.header__nav {
    display: flex;
}

.header__menu {
    display: none;

    &-label {
        width: 1.625rem;  //26px
    height: 1.313rem;  //21px
    margin-top: 0.938rem;  //15px
    margin-right: 0.625rem;  // 10px
    }
}

// .header__menu-label {
//     width: 1.625rem;  //26px
//     height: 1.313rem;  //21px
//     margin-top: 0.938rem;  //15px
//     margin-right: 0.625rem;  // 10px
// }
